Test_files/bibExport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="bibliography" type="bibType"/>
    <xs:complexType name="refType">
        <xs:sequence>
            <xs:element type="xs:string" name="title"/>
            <xs:element type="xs:string" name="author"/>
            <xs:element type="xs:string" name="doi"/>
            <xs:element type="xs:string" name="publisher"/>
            <xs:element type="xs:int" name="pubYear"/>
            <xs:element type="xs:date" name="dateAdded"/>
            <xs:element type="xs:string" name="bookTitle"/>
            <xs:element type="xs:string" name="editor"/>
            <xs:element type="xs:string" name="journalTitle"/>
            <xs:element type="xs:int" name="issue"/>
            <xs:element type="xs:int" name="volume"/>
            <xs:element type="xs:string" name="venue"/>
            <xs:element type="xs:string" name="location"/>
        </xs:sequence>
        <xs:attribute name="category" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="conference"/>
                    <xs:enumeration value="book chapter"/>
                    <xs:enumeration value="journal"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="bibType">
        <xs:sequence>
            <xs:element type="refType" name="ref" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>